.input_group {
  @apply flex border rounded-xl;
  position: relative;
}

.input_text {
  @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
  @apply focus:outline-none border-none;
}

.button {
  @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md;
  @apply py-3 text-gray-50 text-lg capitalize;
}

.button:hover {
  @apply bg-gradient-to-r from-red-100 to-red-200 border-blue-500;
  @apply text-gray-700 border;
}

/* for school email & id */
.button_custom {
  @apply w-full border border-blue-700 capitalize rounded-md py-3 flex justify-center gap-2 hover:bg-red-200;
}

.input_text + * {
  color: #cbd5e1;
}

.input_text:focus + * {
  color: #6366f1;
}

/* password */
.input_text:not([type='email']) ~ span:hover * {
  color: #6366f1;
  cursor: pointer;
}
