@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

* > * {
  font-family: 'Poppins', sans-serif;
}

.main {
  @apply bg-[#fff];
}

.sh-underline::after {
  content: '';
  position: absolute;
  width: 20rem;
  height: 2px;
  display: block;
  background-color: deeppink;
}

.sh-underline1::after {
  content: '';
  position: absolute;
  width: 20rem;
  height: 2px;
  display: block;
  background-color: blue;
}
